OPENAI_API_KEY=

# AWS S3
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_S3_FINAL_BUCKET=
IMAGE_MAX_UPLOAD_BYTES=10485760

# AWS DynamoDB
DYNAMODB_JOBS_TABLE=
DYNAMODB_USAGE_TABLE=

# AWS Cognito
COGNITO_DOMAIN=
COGNITO_USER_POOL_ID=
COGNITO_WEB_CLIENT_ID=
COGNITO_ISSUER=
